<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar1.jpg"  /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar2.jpg"  /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar3.jpg"  /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar4.jpg"  /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar5.jpg"  /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar6.jpg"  /></div>
</div>

