<div class="app-wrapper bg-white">
    <div class="app-main">
        <div class="app-content p-0">
            <div class="app-inner-content-layout--main">
                <div class="flex-grow-1 w-100 d-flex align-items-center">
                    <div class="bg-composed-wrapper--content">
                        <div class="row min-vh-100 no-gutters">
                            <div class="col-lg-7 order-2 order-lg-1 d-flex">
                                <div class="hero-wrapper w-100 bg-composed-wrapper bg-plum-plate min-vh-lg-100">
                                    <div class="flex-grow-1 w-100 d-flex align-items-center">
                                        <div class="bg-composed-wrapper--image" style="background-image: url('assets/images/login/bg-1.jpg');"></div>
                                        <div class="bg-composed-wrapper--bg bg-premium-dark opacity-5"></div>
                                        <div class="bg-composed-wrapper--content p-5">

                                            <div class="text-white mt-3">
                                              <img src="assets/images/logo.png">
                                                <h1 class="display-4 my-3 font-weight-bold">
                                                  Welcome to the Flitzky Admin Portal..!
                                                </h1>
<!--                                                <p class="font-size-md mb-0 text-white-50">-->
<!--                                                    A free hour, when our power of choice is untrammelled and when nothing prevents.-->
<!--                                                </p>-->
                                                <div class="divider border-2 my-5 border-light opacity-2 rounded w-25"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 order-1 order-lg-2 d-flex align-items-center">
                                <div class="col-xl-9 col-lg-12 col-md-11 mx-auto px-xl-0">
                                            <div>
                                                <div class="card m-0 shadow-none border-0">
                                                    <h3 class="font-weight-bold">
                                                      LOGIN TO YOUR ACCOUNT
                                                    </h3>
                                                    <div class="card-body">
                                                        <form>
                                                            <div class="form-group">
                                                                <div class="input-group input-group-alternative">
                                                                    <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                                                                    </span>
                                                                    </div>
                                                                    <input class="form-control" placeholder="Email" type="email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group input-group-alternative">
                                                                    <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <fa-icon [icon]="['fas', 'unlock-alt']"></fa-icon>
                                                                    </span>
                                                                    </div>
                                                                    <input class="form-control" placeholder="Password" type="password">
                                                                </div>
                                                            </div>
                                                            <div class="text-center mb-10">
                                                                <button class="btn btn-second my-2" type="button">Sign in</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
