<div class="btn-group m-2" dropdown>
  <button dropdownToggle type="button" class="btn btn-second btn-sm dropdown-toggle">
    Action
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" >Action</a></li>
    <li role="menuitem"><a class="dropdown-item" >Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" >Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" >Separated link</a></li>
  </ul>
</div>
<div class="btn-group m-2" dropdown>
  <button dropdownToggle type="button" class="btn btn-second dropdown-toggle">
    Action
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" >Action</a></li>
    <li role="menuitem"><a class="dropdown-item" >Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" >Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" >Separated link</a></li>
  </ul>
</div>
<div class="btn-group m-2" dropdown>
  <button dropdownToggle type="button" class="btn btn-second btn-lg dropdown-toggle">
    Action
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" >Action</a></li>
    <li role="menuitem"><a class="dropdown-item" >Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" >Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" >Separated link</a></li>
  </ul>
</div>
